*{
	margin: 0;
	padding: 0;
	font-family: proximaBold;
	font-size: 100%;
}
.header{
	background: url(../img/header.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 7%;
	height: 100vh;
	width: 100vw;
	display: none;
}

.header__description{
	position: relative;
	padding: 10% 20% 2%;
	font-family: proximaBold;
}
.description__tagline{
	position: relative;
	z-index: 10;
	color: white;
	font-size: 2em;
	text-align: left;
	text-transform: uppercase;
	white-space: nowrap;
}
.description__tagline_add{
	text-align: right;
}
.description__line{
	width: 50%;
	height: 5px;
	background: #5e42b0;
	position: absolute;
	top: 40%;
	bottom: 0;
	right: 0;
	left: 25%;
	z-index: 5;
	transform: rotate(-45deg);
}
.header__download{
	margin-top: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.download__apple, .download__google-play{
	text-align: right;
	font-size: 1.1em;
	color: white;
	background: #5e42b0;
	border: none;
	width: 46%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2em;
	padding: 1.5% 3%;
	margin: 0 2%;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
	transition: all .2s ease;
}
.download__apple:focus, .download__google-play:focus{
	outline: none;
	-webkit-box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
}
.apple__pic,.google__pic{
	display: inline-block;
	width: 2.4em;
	filter: contrast(200%);
}
.apple__text, .google-play__text{
	/*display: inline-block;
	vertical-align: top;*/
	font-family: proximaLigth;
	text-transform: uppercase;
	/*letter-spacing: 1px;*/
}
.header__nav{
	margin: 4% 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.nav__item{
	color: #5e42b0;
	font-size: 1.5em;
/*	display: inline-block;
	vertical-align: top;*/
	text-decoration: none;
	text-transform: uppercase;
	font-family: proximaLigth;
	margin: 1% 6%;
}

.athlets, .players{
	padding: 3.9% 0 0;
}
.athlets__title, .players__title{
	padding: 0 2%;
}
.title__athlet, .title__players{
	color: #e7e7e7;
	font-size: 3em;
	text-transform: uppercase;
}
.athlets__slider, .players__slider{
	overflow: hidden;
	width: 100%;
}
.athlets__article, .players__article{
	display: flex!important;
	flex-direction: row!important;
	justify-content: flex-start!important;
	align-items: flex-start!important;
	flex-wrap: nowrap!important;
	transform: translateX(0%);
	transition: all .2s ease;
}
.about__name, .be-active__text{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	font-family: proximaBold;
	width: 100%;
	color: #c1c1c1;
	padding: 0 2%;
	text-transform: uppercase;
	font-size: 1.9em;
	background: #f5f4f9;
}
.name__time, .date__number{
	font-size: .7em;
	color: black;
	border-bottom: 5px solid #5e42b0;
	margin-right: 2.5%;
	margin-top: .5%;
}
.article__about, .players__about{
	width: 100%;
	/*padding: 0 .5%;*/
}
.about__img{
	display: block;
	margin: 0 auto;
	padding: 0 1%;
	width: 100vw;
	overflow: hidden;
	position: relative;
}
.about__img_pic{
	/*width: 60%;*/
	display: block;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	height: 80vh;
}
.about__img_line{
	width: 70%;
	display: block;
	margin: 10% auto;
	/*background: #5e42b0;*/
	position: absolute;
	/*transform: rotate(-45deg);*/
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
}
.about__img_plus{
	position: absolute;
	top: 10%;
	left: 20%;
	right: 0;
	bottom: 0;
	width: 10%;
}
.about__img_background{
	position: absolute;
	background: #f5f4f9;
	z-index: 2;
	top: 80%;
	bottom: 0;
	left: 0;
	right: 0;
}
.about__paragraph, .be-active__text_paragraph{
	padding: 0 2%;
	font-size: 1em;
	white-space: pre-wrap;
	font-family: proximaRegular;
	background: #f5f4f9;
}
.athlets__page, .players__page{
	padding: 5% 0;
	background: #f5f4f9;
}
.page__span_athlets, .page__span_players{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #d8d8d8;
	display: inline-block;
	vertical-align: top;
	margin: 0 1%;
	cursor: pointer;
	transition: all .4s ease;
}
.page__span_active{
	background: #5e42b0;
}

.be-active__pic_img{
	width: 100%;
	object-fit: cover;
	max-height: 350px;
	filter: grayscale(100%);
	transition: all .8s ease;
}
.be-active__pic_img:hover{
	filter: grayscale(0%);
}
.be-active__motivation{
	position: relative;
}
.motivation__date{
	position: absolute;
	left: 5%;
	/*right: 100%;*/
	/*top: -20%;*/
	margin-top: -10%;
	padding: 4% 5%;
	background: #5e42b0;
	display: inline-block;
}
.date__number{
	color: white;
	border-bottom: 5px solid #8f7bc8;
}
.be-active__text, .be-active__text_h2, .be-active__text_paragraph{
	display: block;
}
.be-active__text{
	margin: 2% 0 6%;
	background: white;
}
.be-active__text_h2{
	margin: 2% 0 1%;
}
.be-active__text_paragraph{
	background: white;
	text-transform: none;
	font-size: .7em;
	color: black;
	padding: 0;
}
.be-active__text_line{
	width: .85em;
	height: 0.17em;
	background: #5e42b0;
	border-radius: 20%;
	margin: 2.5% 0 0;
}
.footer{
	width: 100vw;
	height: 100vh;
	background: url(../img/footer.jpg);
	background-position: center;
	background-size: cover;
	padding: 25% 0;
	position: relative;
	/*display: none;*/
}
.footer__text_title{
	color: white;
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 2px;
}
.footer__text_description{
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: -1px;
	color: #9b8ec1;
}
.footer__download{
	margin-top: 5%;
}
.footer__social{
	background: rgba(11, 17, 54, .8);
	/*background: black;*/
	padding: 2.7% 20%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-around!important;
	align-items: center;
}
.social__link{
	color: white;
}


@media screen and (orientation: landscape) {
 	.header{
 		height: 100%;
 	}
 	.nav__item{
 		margin: 1% 10%;
 	}
 	.description__line{
	width: 30%;
	top: 50%;
	bottom: 0;
	right: 0;
	left: 35%;
	}
	.footer{
	height: 100%;
	}
}
.header, .footer, .be-active{
	display: none!important;
}

@font-face{
	font-family: proximaBold;
	src: url(../font/proxima_bold.otf);
}
@font-face{
	font-family: proximaLigth;
	src: url(../font/proxima_ligth.otf);
}
@font-face{
	font-family: proximaRegular;
	src: url(../font/proxima_regular.otf);
}