*{
	margin: 0;
	padding: 0;
	font-family: proximaBold;
	font-size: 100%;
}
.header{
	background: #382151 url(../img/header_new.jpg) no-repeat;
	background-blend-mode: multiply;
	/*background-color: #3d2b70;*/
	background-position: top;
	background-attachment: fixed;
	background-size: cover;
	/*padding-top: 7%;*/
	/*height: 100vh;*/
	width: 100%;
}

.header__description{
	padding: 5% 28% 1%;
	font-family: proximaBold;
	background: url(../img/line.svg) no-repeat center;
	background-size: contain;
	background-origin: border-box;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  /*padding: 0;*/
  width: 100%;
}
.description__tagline{
	position: relative;
	z-index: 10;
	color: white;
	font-size: 2em;
	text-align: left;
	text-transform: uppercase;
	white-space: nowrap;
	align-self: flex-start;
}
.header__logo{
 		/*display: block;*/
 		display: flex;
 		margin: 3% 0 1.5%;
 		padding: 0 3%;
 }
.logo__link_main{
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo__link_header{
	/*display: block;*/
	/*width: 60%;*/
	/*margin: 0 auto;*/
}
.logo__pic{
	width: 100%; 
}
.footer__social_logo, .footer__feedback{
	display: none;
}
.logo__description{
	text-transform: uppercase;
	color: white;
	font-family: proximaLigth;
	font-size: 1.2em;
	display: none;
}
.description__tagline_add{
	text-align: right;
	align-self: flex-end;
	/*width: 66%;*/
	/*width: 80%;*/
  white-space: pre-wrap;
}
.description__line{
	right: 0;
}
.description__line{
	display: none;
}
.header__download{
	margin-top: 4%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.download__apple, .download__google-play{
	text-align: right;
	font-size: 1.4em;
	color: white;
	background: #5e42b0;
	border: none;
	/*width: 38%;*/
	width: 42%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2em;
	padding: 1.5% 3%;
	/*margin: 0 6%;*/
	margin: 0 4%;
	cursor: pointer;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
	transition: all .4s ease;
}
.download__apple:focus, .download__google-play:focus{
	outline: none;
	-webkit-box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
}
.apple__pic,.google__pic{
	display: inline-block;
	width: 2.4em;
	filter: contrast(200%);
}
.apple__text, .google-play__text{
	/*display: inline-block;
	vertical-align: top;*/
	font-family: proximaLigth;
	text-transform: uppercase;
	/*letter-spacing: 1px;*/
}
.header__nav{
	margin: 4% 0;
	display: flex;
	/*display: none;*/
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.header__nav_desktop{
	display: none;
}
.nav__item{
	color: #5e42b0;
	font-size: 1.5em;
	flex: 1;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: proximaLigth;
	margin: 1% 5%;
}

.athlets, .players{
	padding: 3.9% 0 0;
}
.athlets__title, .players__title{
	padding: 0 2%;
}
.title__athlet, .title__players{
	color: #e7e7e7;
	font-size: 3em;
	text-transform: uppercase;
}
.athlets__slider, .players__slider{
	overflow: hidden;
	width: 100%;
}
.athlets__article, .players__article{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
	transform: translateX(0%);
	transition: all .2s ease;
}
.about__name, .be-active__text{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	font-family: proximaBold;
	width: 100vw;
	color: #c1c1c1;
	padding: 0 2%;
	text-transform: uppercase;
	font-size: 1.9em;
	background: #f5f4f9;
}
.name__time, .date__number{
	font-size: .7em;
	color: black;
	border-bottom: 5px solid #5e42b0;
	margin-right: 2.5%;
	margin-top: .5%;
}
.article__about, .players__about{
	width: 100%;
	/*padding: 0 .5%;*/
}
.name__title{
	display: inline-block;
}
.about__img{
	display: block;
	margin: 0 auto;
	padding: 0 1%;
	width: 100vw;
	overflow: hidden;
	position: relative;
}
.about__img_pic{
	width: 60%;
	display: block;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	/*height: 80vh;*/
}
.about__img_line{
	max-height: 70%;
	display: block;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 5;
}
.about__img_line{
	margin: 3% auto;
}
.article__about > * > .about__img_line svg line{
	stroke-width: 3;
}
.about__img_plus{
	position: absolute;
	top: 10%;
	left: 20%;
	right: 0;
	bottom: 0;
	width: 10%;
}
.about__img_background{
	position: absolute;
	background: #f5f4f9;
	z-index: 2;
	top: 80%;
	bottom: 0;
	left: 0;
	right: 0;
}
.about__paragraph, .be-active__text_paragraph{
	padding: 0 2%;
	width: 96vw;
	font-size: 1em;
	white-space: pre-wrap;
	font-family: proximaRegular;
	background: #f5f4f9;
}
.athlets__page, .players__page{
	padding: 5% 0;
	background: #f5f4f9;
}
.page__span_athlets, .page__span_players{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #d8d8d8;
	display: inline-block;
	vertical-align: top;
	margin: 0 1%;
	cursor: pointer;
	transition: all .4s ease;
}
.page__span_active{
	background: #5e42b0;
}
.player__img_pic{
	width: 90%;
	max-width: 100%;
	height: auto;
}

.post__image{
	width: 100%;
	height: 400px;
	overflow: hidden;
}
.post__image_pic{
	display: block;
	margin: 0 auto;
	min-width: 100%;
	width: 100%;
	min-height: 100%;
	object-fit: cover;
	object-position: center;
	transform: scale(1);
	filter: grayscale(100%);
	transition: all .8s ease;
}
.post__image_pic:hover{
	transform: scale(1.07);
	filter: grayscale(0%);
}
.post__text{
	position: relative;
}
.text__date{
	display: inline-block;
	padding: 4% 5%;
	background: #5e42b0;
	position: absolute;
	left: 5%;
	margin-top: -17%;
}
.text__date_number{
	color: white;
	border-bottom: 5px solid #8f7bc8;
}
.text__h2{
	font-size: 2.5em;
	text-transform: uppercase;
	color: #e7e7e7;
	margin: 7% 1% 1%;
}
.text__paragraph{
	background: white;
	text-transform: none;
	font-size: 1.2em;
	color: black;
	padding: 0;
	margin: .5% 1%;
}
.be-active__text_line{
	width: 2.5em;
	height: .4em;
	background: #5e42b0;
	border-radius: 2em;
	margin: 2.5% 1% 7%;
}
.footer{
	width: 100%;
	/*background: url(../img/footer.jpg);*/
	background: #382151 url(../img/Football-stadium.jpg) no-repeat;
	background-blend-mode: multiply;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer > *{
	flex: 1;
}
.footer > *:last-child{
	flex: 0.2;
}
.footer > *{
		width: 100%;
		margin: 3% 0;
	}
	.footer > *:last-child{
		margin: 3% 0 0;
}
.footer__logo{
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo__link{
	/*display: block;*/
	/*flex: 1;*/
  width: 10%;
	margin: 5% auto 2%;
	/*width: 20%;*/
}
.logo__link_pic{
	display: block;
	/*width: 100%;*/
	/*width: 15%;*/
}
.footer__text{
	background: url(../img/line.svg) no-repeat center;
	background-size: contain;
	background-origin: border-box;
	padding: 2% 0;
}
.footer__text_title{
	color: white;
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 2px;
}
.footer__text_description{
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: -1px;
	color: #9b8ec1;
}
.footer__line{
	max-height: 85%;
	z-index: -1;
}
.footer__download{
	margin-top: 5%;
}
.footer__social{
	background: rgba(11, 17, 54, .8);
	padding: 2.7% 0;
	width: 100%;
	display: flex;
	align-items: flex-end;
	align-self: flex-end;
	align-content: flex-end;
}
.footer__social > *{
	flex: 1;
}
.social__links{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	/*align-self: flex-end; */
	align-content: flex-end;
}
.social__link{
	color: white;
}

.logo__link_header{
	/*display: block;*/
	width: 60%;
	/*margin: 0 auto;*/
}

@media screen and (orientation: portrait) and (max-width: 48em){
	.header{
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.header > *{
		flex: 1;
	}
	.header__description{
		flex: .5;
	  margin-top: 15%
	}
	.header__logo{
		width: 100%;
		flex: .2;
	}
	.header__download{
		width: 70%;
	}
	.header__description{
	/*padding: 5% 3% 1%;*/
	}
	/*.logo__link_header{
	display: block;
	width: 100%;
	margin: 0 auto;
	}*/
	.logo__description{
		display: none;
	}
	.logo__pic {
    /*width: 60%;*/
    width: 100%;
	}
	.logo__link_pic{
	/*width: 100%;*/
	/*width: 25%;*/
	}
	.download__apple, .download__google-play{
		width: 46%;
		margin: 0 2%;
		font-size: 1.1em;
		justify-content: space-between;
	}
	.header__description{
		padding: 5% 12% 1%;
	}
	.footer{
		/*height: auto;*/
		height: 100vh;

	}
	.footer > *{
		width: 100%;
		margin: 3% 0;
	}
	.logo__link{
		/*margin: 12% 0;*/
		width: 15%;
	}
	.footer > *:nth-child(3){
		margin: 20% 0 0;
	}
	.footer > *:last-child{
		margin: 3% 0 0;
	}
	.footer__text{
		display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	}

}
@media screen and (orientation: portrait) and (max-width: 40em){
	.header__download{
		width: 100%;
	}
	.download__apple, .download__google-play{
		
	}
	.footer__social{
		flex: .1!important;
	}
}

@media screen and (min-width: 48em){
	/*.header{
		height: auto;
	}*/
	.header, .footer{
		height: 100vh;
	}
	.header__logo{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex: 0.2;
		width: 100%;
		margin-top: 1%;
	}
	.header__logo > *{
		flex: 1;
		align-self: center;
	}
	.logo__link_main{
		justify-content: flex-start;
	}
	.header__nav{
		display: none;
	}
	.header__nav_desktop{
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		margin: 0;
		align-items: flex-end;
		flex: .5;
	}
	.logo__pic{
		width: 100%;
		/*display: block;*/
	}
	.logo__description{
		text-align: right; 
		display: block;
	}
	.logo__link_header{
		/*width: 40%;*/
	}
	.download__apple, .download__google-play{
		/*justify-content: space-around;*/
		justify-content: center;
		width: 50%;
		text-align: left;
		/*margin: 5% 10%;*/
		margin: 0;
		/*width: 25%;*/
	}
/*	.download__apple{
		margin: 5% 15% 5% 5%;
	}
	.download__google-play{
		margin: 5% 5% 5% 15%
	}*/
	.header__description > *:not(.description__line){
		font-size: 3.7em;
	}
	.description__line{
		max-height: 85%;
	}
	.athlets__page, .players__page{
		display: none;
	}
	.article__about, .players__about{
		padding: 0 0 5%;
		background: #f5f4f9;
	}
	.header__description{
		padding: 0% 9% 1%;	
		background-origin: content-box;
		flex: 1.5;
	}
	.description__tagline{
		align-self: flex-start;
	}
	.description__tagline_add{
		align-self: flex-end;
		width: 75%;
	}
	.footer__text{
		display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	}
	.athlets__slider, .players__slider{
		display: flex;
		width: 100%;
		justify-content: flex-start;
		align-items: stretch;
		position: relative;
		overflow: visible;
	}
	.players__slider{
		flex-direction: row-reverse;
		overflow: hidden;
	}
	.title__athlet, .title__players{
		text-align: right;
		font-size: 4.2em;
    padding-right: 12%;
	}
	.title__players{
		padding-right: 0;
		text-align: left;
		padding-left: 12%;
	}
	.about__img{
		/*width: 30%;*/
		flex: 1;
		transform: translate(-30%, -5%);
		z-index: 20;
		position: relative;
	}
	.about__img_pic{
		width: 60%;
	}
	.about__img_background{
		display: none;
	}
	.athlets__article, .players__article{
		/*width: 70%;*/
		/*flex: 2;*/
		/*position: relative;*/
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		flex-wrap: wrap;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 5;
		width: 100%;
    overflow: hidden;
	}
	.about__img_plus{
		top: 0;
		left: 30%;
	}
	.players__article{
		width: 100%;
		overflow: visible;
	}
	.players__slider .about__img{
		/*position: relative;*/
		transform: translate(38%, 0);
	}
	.player__img_pic{
		height: 90%;
		width: auto;
	}
	.athlets__article > *{
		flex: 1;
		padding-left: 47.5%;
		padding-right: 2.5%;
	}
	.players__article > *{
		flex: 1;
		/*padding-left: 2.5%;
		padding-right: 47.5%;*/
	}
	.article__about:first-child, .article__about:first-child .about__name, .article__about:first-child .about__paragraph{
		background: white;
	}
	.players__about:first-child, .players__about:first-child .about__name, .players__about:first-child .about__paragraph{
		background: white;
	}
	.article__about:last-child, .article__about:last-child .about__name, .article__about:last-child .about__paragraph{
		background: #5e42b0;
	}
	.players__about:last-child, .players__about:last-child .about__name, .players__about:last-child .about__paragraph{
		background: #090c35;
	}
	.players__about:last-child .name__time{
		color: #5e42b0;
	}
	.article__about:last-child .about__paragraph{
		color: white;
	}
	.article__about:last-child .name__time{
		border-bottom: 5px solid #efefef;
	}
	.players__about:last-child .about__paragraph{
		color: white;
	}
	.players__about:last-child .name__time{
		border-bottom: 5px solid white;
	}
	.about__name, .about__paragraph{
		width: 50%;
		display: inline-block;
		vertical-align: top;
	}
	.about__paragraph{
		width: 50%;
		line-height: 1.5;
	}
	.text__date {
		padding: 4%;
		margin-top: -15%;
	}
	.text__h2{
		font-size: 3.5em;
	}
	.post__image{
		height: 500px;
	}
	.be-active__text_line{
		width: 1.5em;
	}
	.footer__text_title{
		font-size: 4.5em;
	}
	.footer__text_description{
		font-size: 3.5em;
	}
	.footer__social {
		padding: 1.5% 0;
		flex: .25;
	}
		.header > *{
		flex: 1;
	}
	.header{
		flex-direction: column;
	}
}

@media only screen and (min-width: 55em) {
	.header__logo{
		flex: 1;
	}
	.download__apple, .download__google-play{
		justify-content: space-around;
		/*width: 50%;*/
		/*margin: 5% 10%;*/
		margin: 0;
		width: 25%;
		padding: 1% 0;
	}
	.header > *{
		flex: 1;
	}
	.header{
		flex-direction: column;
	}
	.footer__social{
		padding: 1.5% 0 0.2%;
	}
}
/*@media screen and (min-width: 62em){
	.header{
		flex-direction: column;
	}
}*/

@media only screen and (min-width: 75em){
	.header{
		height: 100vh;
	}
	.header, .footer{
		background: #0a0e34;
	}
	.logo__pic {
    width: 40%;
    display: block;
  }
  .logo__description{
  	font-size: 1em;
  }
  .header__description{/*
  	padding: 5% 15% 0 20%;*/
  	padding: 5% 6% 0 20%;
  	background-image: none;
  	position: relative;
  }
  .download__apple, .download__google-play{
		justify-content: center;
		/*width: 50%;*/
		/*margin: 5% 10%;*/
		margin: 0 1%;
		width: 15%;
		padding: 1% 0;
	}
  .description__tagline{
  	font-size: 4.2em!important;
  }
  .description__tagline_add{
  	width: auto;
  }
  .header__nav_desktop{
  	align-self: flex-end;
  	justify-content: flex-end;
  	margin-top: 0;
  	padding-right: 10%;
  }
  .nav__item{
  	margin: 0 2%;
  	flex: 0;
  	white-space: nowrap;
  }
  .description__tagline{
    z-index: 20;
    position: relative;
  }
  .description__tagline_add{
  	z-index: 5;
  }
  .description__line{
  	position: absolute;
  	display: block;
  	margin: 0 auto;
  	top: 12%;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	z-index: 10;
  }
  .about__img_pic{
  	width: 30%;
  }
  .player__img_pic{
  	width: 50%;
  }

	.header__description{
  	padding: 5% 15% 0 20%;
  }
  .description__line{
  	top: 18%;
  	/*display: none;*/
  }
  .be-active__post{
  	display: flex;
  	flex-direction: row;
  	justify-content: center;
  	align-items: center;
  }
  .be-active__post:nth-child(even){
  	flex-direction: row-reverse;
  }
  .be-active__post > *{
  	width: 50%;
  	height: 100%;
  }
	.text__date{
		padding: 6%;
		top: 38%;
		bottom: 38%;
		left: -8%;
		margin-top: 0;
	}
  .be-active__post:nth-child(even) .text__date{
  	left: 92%;
  }
  .post__text{
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-content: center;
  	align-items: flex-start;
  }
  .post__text > *:not(.text__date):not(.be-active__text_line){
  	padding: 0 7%;
  }
  .text__h2{
  	margin-top: 0;
  }
  .be-active__text_line{
  	margin-left:8%;
  }
  .logo__link{
  	width: 5%;
  }
  .footer > *:last-child{
  	margin: 5% 0 2%;
  }
  .footer__social{
  	flex: .2;
  	justify-content: space-between;
  	background: transparent;
  	padding: 0 3%;
  }
  .footer__social_logo{
  	display: flex;
  }
  .footer__social_logo .logo__pic{
  	width: 60%;
  }
  .footer__feedback{
  	display: flex;
  	justify-content: flex-end;
  	align-items: stretch;
  }
  .feedback__contact{
  	color: white;
  	font-size: 1.2em;
  }
  .contact__us, .contact__terms{
  	text-decoration: none;
  	text-transform: capitalize;
  	color: white;
  }
}

@font-face{
	font-family: proximaBold;
	src: url(../font/proxima_bold.otf);
}
@font-face{
	font-family: proximaLigth;
	src: url(../font/proxima_ligth.otf);
}
@font-face{
	font-family: proximaRegular;
	src: url(../font/proxima_regular.otf);
}